@import url('https://fonts.googleapis.com/css?family=Fira+Mono');
@font-face{
    font-family: 'Fira Code';
    src: url('https://unpkg.com/firacode/distr/eot/FiraCode-Regular.eot');
    src: url('https://unpkg.com/firacode/distr/eot/FiraCode-Regular.eot') format('embedded-opentype'),
         url('https://unpkg.com/firacode/distr/woff2/FiraCode-Regular.woff2') format('woff2'),
         url('https://unpkg.com/firacode/distr/woff/FiraCode-Regular.woff') format('woff'),
         url('https://unpkg.com/firacode/distr/ttf/FiraCode-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

:root {
    --background-dark: #282C34;
    --background-darker: #23272E;
    --background-lighter: #2C323C;
    --background-expanded: #303540;
    --highlight-hover: #3E4452;
    --highlight-hover-dark: #2F333E;
    --highlight-active: #3B4048;
    --notification: #BE5046;
    --mention: rgba(97, 175, 239, 0.25);
    --mention-hover: rgba(97, 175, 239, 0.50);
    --mention-left: #61AFEF;
    --add-friends: #98C379;
    --add-friends-hover: #539A46;
    --dimmer: rgba(0, 0, 0, 0.3);

    --primary-text: #ABB2BF;
    --secondary-text: #5B6577;
    --placeholder: #838892;
    --selected-name: #CDD6E5;
    --muted: #4B5263;
    --danger: #BE5046;
    --group: #687289;
    --href: #51A8EF;

    --button-ease: 200ms;
}

/* title bar */
.titleBar-AC4pGV {
    background-color: var(--background-dark);
}

/* guild bar */
.theme-dark .guildsWrapper-5TJh6A {
    background-color: var(--background-dark);
}

/* the icon of a guild if it is not set */
.theme-dark .guild-1EfMGQ .guildIcon-CT-ZDq {
    background-color: var(--highlight-hover);
    color: var(--primary-text);
}

/* discord logo */
.theme-dark .homeIcon-1FoKUJ {
    background-color: var(--background-dark);
}
.theme-dark .homeIcon-1FoKUJ:hover {
    background-color: var(--highlight-hover);
}

/* discord guild name */
.header-2o-2hj {
    color: var(--primary-text);
}

/* voice connected container */
.container-1UB9sr {
    background-color: var(--background-dark);
}

.button-2KyEfG:hover {
    background-color: var(--highlight-hover);
}

.button-2KyEfG:hover {
    background-color: var(--highlight-hover);
}

.button-2KyEfG:active {
    background-color: var(--highlight-active);
}

/* current channel name */
.inner-btChU7 .channel-SEolQq {
    color: var(--selected-name);
}

/* channel description */
.theme-dark .topic-2QX7LI {
    color: var(--secondary-text);
}

/* quick account detail and settings container */
.theme-dark .container-2Thooq {
    background-color: var(--background-dark);
    color: var(--primary-text);
}

/* hover quick settings */
.theme-dark .button-2b6hmh:hover {
    background-color: var(--highlight-hover);
}

/* press quick settings */
.theme-dark .button-2b6hmh:active {
    background-color: var(--highlight-active);
}

/* channel list */
.theme-dark .container-PNkimc {
    background-color: var(--background-lighter);
}

/* selected channel */
.contentSelectedText-3wUhMi,
.contentSelectedVoice-1WDIBM,
.contentConnectedVoice-qL-YrL {
    background-color: var(--background-dark);
    color: var(--primary-text);
}

.contentSelectedText-3wUhMi:active,
.contentSelectedVoice-1WDIBM:active,
.contentConnectedVoice-qL-YrL:active {
    background-color: var(--background-dark);
    color: var(--primary-text);
}

.nameSelectedText-sp_EUw,
.nameSelectedVoice-1qSph5,
.colorSelectedText-1y4Wvs,
.colorSelectedVoice-Xcb_9R {
    color: var(--primary-text);
}

.nameConnectedText-3CzNQn,
.nameConnectedVoice-MHUX5F,
.colorConnectedText-1c_uzY,
.colorConnectedVoice-3kyvUN {
    color: var(--primary-text);
}

.nameDefault-2s3kbY {
    color: var(--group);
}

/* hovered channel */
.contentHoveredText-2D9B-x,
.contentHoveredVoice-3p_NEO,
.nameHoveredText-1uO31y,
.nameHoveredVoice-YJ1Vfd,
.userHovered-2_fT4Z {
    background-color: var(--highlight-hover);
    color: var(--primary-text);
}

.userHovered-2_fT4Z:active {
    background-color: var(--highlight-hover);
    color: var(--primary-text);
}

/* round user hover things */
.userHovered-2_fT4Z {
    border-radius: 3px;
}

.contentHoveredText-2D9B-x:active,
.contentHoveredVoice-3p_NEO:active {
    background-color: var(--highlight-hover);
}

.colorHoveredText-OZnAgu, .colorHoveredVoice-1kucsK {
    color: var(--primary-text);
}

/* user count/limit */
.wrapper-2NJDcI {
    background-color: var(--background-dark);
    color: var(--primary-text);
}

/* unselected channel */
.nameDefaultText-24KCy5, .nameDefaultVoice-3WUH7s, .nameLockedText-3pqQcL, .nameLockedVoice-26MhB1 {
    color: var(--secondary-text);
}

.colorDefaultText-oas-QM, .colorDefaultVoice-3wYlhb {
    color: var(--secondary-text);
}

/* unread channel */
.colorUnreadText-2t7XRb,
.colorUnreadVoice-137o4S,
.nameUnreadText-DfkrI4,
.nameUnreadVoice-EVo-wI {
    color: var(--primary-text);
}

/* unread knob */
.unread-1Dp-OI {
    background-color: var(--primary-text);
}

/* mention */
.wrapper-232cHJ {
    background-color: var(--notification);
}

/* muted unselected channel */
.nameMutedText-3Vj4bM, .nameMutedVoice-3oxyQZ {
    color: var(--muted);
}

.colorMutedText-36M8WR, .colorMutedVoice-3ghIuw {
    color: var(--muted);
}

/* locked */
.colorLockedText-1VRkPt,
.colorLockedVoice-2UlBjl {
    color: var(--secondary-text);
}

/* channel categories */

/* channel icons */
.iconCollapsed-3hFp_8,
.iconDefault-3Gr8d2,
.nameCollapsed-34uFWo,
.nameDefault-2DI02H {
    color: var(--group);
}

.iconHovered-2L3-fB,
.iconHoveredCollapsed-3caIIZ,
.nameHovered-1gxhWH,
.nameHoveredCollapsed-2orEWB {
    color: var(--primary-text);
}

.iconMuted-1HVBGH, .nameMuted-1MCOt4 {
    color: var(--muted);
}

.actionIcon-2Hi9ZG, .lookBlank-3eh9lL {
    color: var(--primary-text);
}

/* channel title */
.theme-dark .title-3qD0b- {
    background-color: var(--background-lighter);
}

/* channel name */
.theme-dark
.channelName-3stJzi,
.theme-dark
.groupDM-3qU0Ks
.channelName-3stJzi,
.theme-dark
.groupDMManaged-1GyXtq
.channelName-3stJzi,
.theme-dark
.input-autosize-input,
.theme-dark .input-autosize-input:focus,
.channelIcon-MsmKOO {
    color: var(--primary-text);
}

/* add guilds icon */
.theme-dark .guildsAdd-21_IdK {
    color: var(--primary-text);
    background-color: var(--background-lighter);
    border-style: none;
    transition: background-color var(--button-ease) ease;
}

.theme-dark .guildsAdd-21_IdK:hover {
    color: var(--primary-text);
    background-color: var(--highlight-hover);
    transition: background-color var(--button-ease) ease;
}

/* header bar */
.theme-dark .headerBar-UHpsPw {
    color: var(--primary-text);
}

/* pin notification */
.iconBadge-2dji3k {
    background-color: var(--notification);
}

/* guild members */
.theme-dark .members-1998pB {
    background-color: var(--background-lighter);
}

.nameTag-3p0yK-:first-child {
    color: var(--primary-text);
}

.theme-dark .member-3W1lQa:hover .content-OzHfo4,
.theme-dark .member-3W1lQa.popout-open .content-OzHfo4,
.theme-dark .member-3W1lQa.popout-open:hover .content-OzHfo4 {
    background-color: var(--highlight-hover);
    color: var(--primary-text);
}

/* role name */
.theme-dark .membersGroup-v9BXpm {
    color: var(--group);
}

/* direct message list */
.channels-Ie2l6A {
    background-color: var(--background-lighter);
}

.privateChannels-1nO12o header {
    color: var(--primary-text);
    opacity: 1;
}

/* direct message select thing */
.channel-2QD9_O.selected-1HYmZZ a {
    background-color: var(--background-dark);
}

.channel-2QD9_O.selected-1HYmZZ:hover a {
    background-color: var(--background-dark);
    cursor: default;
}

.channel-2QD9_O:hover a {
    background-color: var(--highlight-hover);
}

/* friend name */
.name-2WpE7M {
    color: var(--primary-text);
}

/* scroll bar */
.scroller-wrap .scroller::-webkit-scrollbar-thumb {
    border-color: transparent !important;
    background-color: var(--highlight-hover) !important;
}

.scroller-wrap .scroller::-webkit-scrollbar-track-piece {
    border-color: transparent !important;
    background-color: transparent !important;
}

/* load more messages */
.theme-dark .hasMore-3e72_v button {
    background-color: var(--background-lighter);
    color: var(--href);
}

/* text channel */
.theme-dark .chat-3bRxxu,
.theme-dark .chat-3bRxxu form,
.theme-dark .content-yTz4x3,
.theme-dark .messagesWrapper-3lZDfY {
    background-color: var(--background-dark);
}

/* input box */
.theme-dark .inner-zqa7da {
    background-color: var(--highlight-hover);
}

/* input text area */
.theme-dark .textArea-2Spzkt {
    color: var(--primary-text);
    font-family: 'Fira Mono', monospace;
    font-size: 10pt;
}

.theme-dark .textArea-2Spzkt::-webkit-input-placeholder {
    color: var(--placeholder);
}

/* typing... */
.theme-dark .typing-2GQL18 {
    background-color: transparent;
}

.theme-dark .typing-2GQL18 span {
    color: var(--primary-text);
}

/* mention autocomplete menu */
.theme-dark .autocomplete-1vrmpx {
    background-color: var(--background-lighter);
}

/* selected selector */
.theme-dark .selectorSelected-1_M1WV {
    background-color: var(--highlight-hover);
}

/* members color */
.theme-dark .contentTitle-2tG_sM {
    color: var(--primary-text);
}

/* name */
.theme-dark .content-Qb0rXO {
    color: var(--primary-text);
}

/* description */
.theme-dark .description-11DmNu, .theme-dark .descriptionUsername-J_75O8 {
    color: var(--secondary-text);
}

/* message default username color */
.theme-dark .username-_4ZSMR {
    color: var(--primary-text);
}

/* message timestamp color */
.theme-dark .timestampCozy-2hLAPV {
    color: var(--secondary-text);
}

/* invite link */
.theme-dark .wrapper-35wsBm {
    background-color: var(--background-lighter);
}

/* expired invite icon */
.theme-dark .guildIconExpired-2Qcq05 {
    background-color: var(--background-dark);
}

/* the icon of a guild if it is not set */
.theme-dark .guildIcon-lQ0uiM {
    background-color: var(--highlight-hover);
    color: var(--primary-text);
}

/* you have been invited to join a server */
.theme-dark .h5-18_1nd {
    color: var(--primary-text);
}

/* guild name */
.theme-dark .guildName-2hvnt_ {
    color: var(--selected-name);
}

/* joined */
.theme-dark .lookOutlined-3sRXeN.colorPrimary-3b3xI6,
.theme-dark .container-3I3vDQ .lookFilled-1Gx00P.colorGreen-29iAKY {
    color: var(--primary-text);
    border-style: none;
    background-color: var(--highlight-hover);
}

.theme-dark .lookOutlined-3sRXeN.colorPrimary-3b3xI6:hover,
.theme-dark .container-3I3vDQ .lookFilled-1Gx00P.colorGreen-29iAKY:hover {
    color: var(--primary-text);
    border-style: none;
    background-color: var(--highlight-active);
}

/* spotify listen invite */
.theme-dark .invite-18yqGF {
    background-color: var(--background-lighter);
    border-style: none;
}

.theme-dark .header-Hg_qNF {
    color: var(--secondary-text);
}

.theme-dark .name-GG2Mcs,
.theme-dark .partyStatus-6AjDud {
    color: var(--primary-text);
}

.theme-dark .textLink-3aPthL,
.theme-dark .message-group .textLink-3aPthL {
    color: var(--primary-text);
}

/* embeds */
.theme-dark .embedInner-1-fpTo {
    background-color: var(--background-lighter);
}

.theme-dark .embedAuthorName-3mnTWj,
.theme-dark .embedFieldName-NFrena,
.theme-dark .embedTitle-3OXDkz {
    color: var(--primary-text) !important;
}

.theme-dark .embedDescription-1Cuq9a,
.theme-dark .embedFieldValue-nELq2s,
.theme-dark .embedFooterText-28V_Wb,
.theme-dark .embedProvider-3k5pfl {
    color: var(--primary-text);
}

/* details, online/members */
.theme-dark .guildDetail-1nRKNE {
    color: var(--primary-text);
}

/* attachments */
.theme-dark .attachment-33OFj0 {
    background-color: var(--background-lighter);
}

/* attachment link */
.anchor-3Z-8Bb {
    color: var(--href);
}

/* size */
.metadata-3WGS0M {
    color: var(--primary-text);
}

/* download button (who would have guessed) */
.downloadButton-23tKQp {
    color: var(--highlight-hover);
    transition: color var(--button-ease) ease;
}

.downloadButton-23tKQp:hover {
    color: var(--muted);
    transition: color var(--button-ease) ease;
}

/* mentions */
.theme-dark .isMentioned-N-h9aa {
    background-color: var(--mention);
}

.theme-dark .isMentioned-N-h9aa::after {
    background-color: var(--mention);
    border-left-color: var(--mention-left);
}

/* message separator */
.theme-dark .dividerEnabled-2TTlcf {
    border-bottom-color: var(--background-lighter);
}

/* message blocked */
.theme-dark .messageGroupBlocked-3wrQQX:not(.revealed-1_RKsf) {
    box-shadow: none;
}

/*
.theme-dark .containerCozyBounded-1rKFAn + .messageGroupBlocked-3wrQQX:not(.revealed-1_RKsf) {
    border-top: 1px solid red;
}
*/

.theme-dark .messageGroupBlocked-3wrQQX .messageGroupBlockedBtn-1PBBh- {
    background-color: var(--background-lighter);
    color: var(--placeholder);
    text-align: right;
    padding: 5px 5px 5px 5px;
    background-image: linear-gradient(to right, var(--background-dark) 30%, var(--background-lighter));
}

.theme-dark .messageGroupBlocked-3wrQQX .messageGroupBlockedBtn-1PBBh-:hover {
    background-image: linear-gradient(to right, var(--background-dark) 30%, var(--highlight-hover));
}

.theme-dark .messageGroupBlocked-3wrQQX.revealed-1_RKsf .messageGroupBlockedBtn-1PBBh- {
    background-color: var(--background-lighter);
    background-image: none;
}

.theme-dark .messageGroupBlocked-3wrQQX.revealed-1_RKsf .messageGroupBlockedBtn-1PBBh-:hover {
    background-color: var(--highlight-hover);
    background-image: none;
}

.theme-dark .messageGroupBlocked-3wrQQX {
    border-style: none;
}

.theme-dark .messageGroupBlocked-3wrQQX.revealed-1_RKsf {
    background-color: var(--background-lighter);
}

/* message text color */
.theme-dark .markup-2BOw-j {
    color: var(--primary-text);
}

/* mention */
.theme-dark .wrapper-3WhCwL {
    color: var(--href);
    background-color: var(--mention);
}

.theme-dark .wrapperHover-1GktnT:hover {
    color: var(--href);
    background-color: var(--mention);
    text-decoration: underline;
}

/* links */
.theme-dark .markup-2BOw-j a {
    color: var(--href);
}

/* code (block) */
.theme-dark .markup-2BOw-j pre code {
    background-color: var(--background-lighter);
    border-radius: 3px;
    font-family: 'Fira Code', monospace;
}

/* code (inline) */
.theme-dark .markup-2BOw-j code.inline {
    background-color: var(--highlight-hover);
    font-family: 'Fira Mono', monospace;
}

/**
 * syntax highlighting
 * see https://github.com/highlightjs/highlight.js/blob/master/src/styles/atom-one-dark.css
 */

.theme-dark .hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    color: #abb2bf;
    background: #282c34;
}

.theme-dark .hljs-comment,
.theme-dark .hljs-quote {
    color: #5c6370;
    font-style: italic;
}

.theme-dark .hljs-doctag,
.theme-dark .hljs-keyword,
.theme-dark .hljs-formula {
    color: #c678dd;
}

.theme-dark .hljs-section,
.theme-dark .hljs-name,
.theme-dark .hljs-selector-tag,
.theme-dark .hljs-deletion,
.theme-dark .hljs-subst {
    color: #e06c75;
}

.theme-dark .hljs-literal {
    color: #56b6c2;
}

.theme-dark .hljs-string,
.theme-dark .hljs-regexp,
.theme-dark .hljs-addition,
.theme-dark .hljs-attribute,
.theme-dark .hljs-meta-string {
    color: #98c379;
}

.theme-dark .hljs-built_in,
.theme-dark .hljs-class .hljs-title {
    color: #e6c07b;
}

.theme-dark .hljs-attr,
.theme-dark .hljs-variable,
.theme-dark .hljs-template-variable,
.theme-dark .hljs-type,
.theme-dark .hljs-selector-class,
.theme-dark .hljs-selector-attr,
.theme-dark .hljs-selector-pseudo,
.theme-dark .hljs-number {
    color: #d19a66;
}

.theme-dark .hljs-symbol,
.theme-dark .hljs-bullet,
.theme-dark .hljs-link,
.theme-dark .hljs-meta,
.theme-dark .hljs-selector-id,
.theme-dark .hljs-title {
    color: #61aeee;
}

.theme-dark .hljs-emphasis {
    font-style: italic;
}

.theme-dark .hljs-strong {
    font-weight: bold;
}

.theme-dark .hljs-link {
    text-decoration: underline;
}

/*
 * other GUIs
 */

/* message context menu */
.theme-dark .container-3cGP6G {
    background-color: var(--background-lighter);
}

/* hovered button */
.theme-dark .item-2J1YMK:active,
.theme-dark .item-2J1YMK:hover {
    background-color: var(--highlight-hover);
}

/* emoji picker */
.emojiPicker-3m1S-j {
    background-color: var(--background-lighter);
    border: 1px var(--background-lighter) solid;
}

.emojiPicker-3m1S-j .header-1nkwgG {
    border-bottom: none;
}

.search-bar.search-bar-light {
    background-color: var(--background-lighter);
    color: var(--primary-text);
}

.search-bar.search-bar-light input {
    color: var(--primary-text);
}

.search-bar.search-bar-light input::-webkit-input-placeholder {
    color: var(--secondary-text);
}

.search-bar.search-bar-light .search-bar-inner {
    background-color: var(--background-dark);
}

.emojiPicker-3m1S-j .stickyHeader-1SS0JU {
    background-color: var(--background-lighter);
    color: var(--primary-text);
}

/* highlighted emoji */
.emojiPicker-3m1S-j .scroller-3vODG7 .emojiItem-109bjA.selected-39BZ4S {
    background-color: var(--highlight-hover);
}

/* change border color */
.emojiPicker-3m1S-j .categories-1feg4n {
    background-color: var(--background-dark);
    border-top: none;
    margin-left: 0;
    margin-right: 0;
    padding-left: 12px;
}

/* selected category */

.emojiPicker-3m1S-j .categories-1feg4n .item-16cXuq {
    border-bottom: none;
}

.emojiPicker-3m1S-j .categories-1feg4n .item-16cXuq.selected-39BZ4S {
    background-color: var(--highlight-hover);
}

/* categories */

.emojiPicker-3m1S-j .categories-1feg4n .item-16cXuq.recent-rdY7_c {
    background-image: url('/assets/0f1f2dff98b5e2099086e303d9be0dad.svg');
}

.emojiPicker-3m1S-j .categories-1feg4n .item-16cXuq.people-2y6eof {
    background-image: url('/assets/0509bf058793ef8ddd770a977e63614c.svg');
}

.emojiPicker-3m1S-j .categories-1feg4n .item-16cXuq.nature-WkggKK {
    background-image: url('/assets/aafe899a4d7ad7717acc64f5b8f36342.svg');
}

.emojiPicker-3m1S-j .categories-1feg4n .item-16cXuq.food-3vb4RY {
    background-image: url('/assets/0eb5a2b715ff649e9757a232996817ab.svg');
}

.emojiPicker-3m1S-j .categories-1feg4n .item-16cXuq.activity-2oLAbd {
    background-image: url('/assets/8674c1028a63d29fb605be53eeedf1bf.svg');
}

.emojiPicker-3m1S-j .categories-1feg4n .item-16cXuq.travel-2FeozN {
    background-image: url('/assets/13e86ddf4302f697243425b2f954d00b.svg');
}

.emojiPicker-3m1S-j .categories-1feg4n .item-16cXuq.objects-ktZjG4 {
    background-image: url('/assets/6d9a5b47dc3bf7adf54f19b1e3f6c5ad.svg');
}

.emojiPicker-3m1S-j .categories-1feg4n .item-16cXuq.symbols-3xtDtJ {
    background-image: url('/assets/83095e6af6c7cf33669e3ab169296867.svg');
}

.emojiPicker-3m1S-j .categories-1feg4n .item-16cXuq.flags-3peqg9 {
    background-image: url('/assets/ccda5cf0a64abbd18fdb9f914b55292e.svg');
}

.emojiPicker-3m1S-j .categories-1feg4n .item-16cXuq.custom-2TY7UZ {
    background-image: url('/assets/bbabd25029321a8260849de01e8c13fc.svg');
}

/* emoji scroll bar */
.scroller-2FKFPG.firefoxFixScrollFlex-cnI2ix::-webkit-scrollbar-thumb {
    border-color: transparent !important;
    background-color: var(--highlight-hover) !important;
}

.scroller-2FKFPG.firefoxFixScrollFlex-cnI2ix::-webkit-scrollbar-track-piece {
    border-color: transparent !important;
    background-color: var(--background-lighter) !important;
}

/* skin color picker */
.diversitySelector-tmmMv0 .popout-2nUePc {
    background-color: var(--background-dark);
    border-style: none;
}

.emojiPicker-3m1S-j .dimmer-3iH-5D {
    z-index: 2;
}

.emojiPicker-3m1S-j .dimmer-3iH-5D.visible-3k45bQ {
    background-color: var(--dimmer);
    z-index: 2;
}

/* user popout */

/* header */
.theme-dark .headerNormal-T_seeN {
    background-color: var(--background-darker);
}

/* and while playing */
.headerPlaying-j0WQBV {
    background-color: var(--background-darker);
}

/* no, spotify won't get a custom color */
.headerSpotify-zpWxgT {
    background-color: var(--background-darker);
}

.activity-11LB_k {
    background-color: var(--background-dark);
}

.headerName-fajvi9, .headerTagUsernameNoNickname-2_H881 {
    color: var(--primary-text);
}

.headerTag-2pZJzA {
    color: var(--primary-text);
}

.headerTag-2pZJzA .discriminator {
    color: var(--secondary-text);
}

/* activity header text */
.theme-dark .activityProfile-2bJRaP .headerText-1HLrL7,
.theme-dark .activityUserPopout-2yItg2 .headerText-1HLrL7,
.theme-light .activityProfile-2bJRaP .headerText-1HLrL7,
.theme-light .activityUserPopout-2yItg2 .headerText-1HLrL7 {
    color: var(--primary-text);
}

/* activity details */
.theme-dark .activityProfile-2bJRaP .content-3JfFJh,
.theme-dark .activityProfile-2bJRaP .details-38sfDr,
.theme-dark .activityProfile-2bJRaP .name-29ETJS,
.theme-dark .activityUserPopout-2yItg2 .content-3JfFJh,
.theme-dark .activityUserPopout-2yItg2 .details-38sfDr,
.theme-dark .activityUserPopout-2yItg2 .name-29ETJS,
.theme-light .activityProfile-2bJRaP .content-3JfFJh,
.theme-light .activityProfile-2bJRaP .details-38sfDr,
.theme-light .activityProfile-2bJRaP .name-29ETJS,
.theme-light .activityUserPopout-2yItg2 .content-3JfFJh,
.theme-light .activityUserPopout-2yItg2 .details-38sfDr,
.theme-light .activityUserPopout-2yItg2 .name-29ETJS {
    color: var(--primary-text);
}

.activityName-1IaRLn {
    color: var(--primary-text);
}

/* view button */
.lookOutlined-3sRXeN.colorWhite-rEQuAQ {
    border-style: none;
    background-color: var(--background-expanded);
    color: var(--primary-text);
}

.lookOutlined-3sRXeN.colorWhite-rEQuAQ:hover {
    background-color: var(--highlight-hover-dark);
}

/* spotify time bar */
.bar-3urHkF {
    background-color: var(--secondary-text);
}
.barInner-3NDaY_ {
    background-color: var(--primary-text);
}

.text-AOoUen {
    color: var(--primary-text);
}

/* body & footer */
.theme-dark .body-3iLsc4,
.theme-dark .footer-1fjuF6 {
    background-color: var(--background-lighter);
    color: var(--primary-text);
}

.bodyTitle-Y0qMQz {
    color: var(--secondary-text);
}

.theme-dark .note-3kmerW textarea::-webkit-input-placeholder {
    color: var(--primary-text);
}

.theme-dark .note-3kmerW textarea:focus {
    background-color: var(--background-dark);
}

/* quick message */
.theme-dark .quickMessage-1yeL4E {
    background-color: var(--background-dark);
    color: var(--primary-text);
}

.theme-dark .quickMessage-1yeL4E::-webkit-input-placeholder {
    color: var(--placeholder);
}

/* tip */
.theme-dark .primary-jw0I4K {
    color: var(--primary-text);
}

/* guild quick settings menu */
.theme-dark .menu-Sp6bN1 {
    background-color: var(--background-dark);
}

/* normal button */
.theme-dark .item-1GzJrl {
    color: var(--primary-text);
}

/* normal button */
.theme-dark .item-1GzJrl:hover {
    background-color: var(--highlight-hover);
}

/* find or start a conversation */
.search-bar {
    color: var(--primary-text);
    background-color: var(--background-dark);
}

.search-bar input::-webkit-input-placeholder {
    color: var(--secondary-text);
}

/* friends menu */
.theme-dark #friends {
    background-color: var(--background-dark);
}

/* header bar */
.theme-dark .headerBar-UHpsPw {
    background-color: var(--background-lighter);
}

/* add friends button */
.theme-dark #friends .tab-bar .tab-bar-item.tab-bar-item-primary {
    background-color: var(--add-friends);
    color: var(--background-lighter);
    transition: background-color var(--button-ease) ease;
}

.theme-dark #friends .tab-bar .tab-bar-item.tab-bar-item-primary:hover:not(.selected) {
    background-color: var(--add-friends-hover);
    color: var(--background-lighter);
    transition: background-color var(--button-ease) ease;
}

.theme-dark #friends .tab-bar .tab-bar-item {
    color: var(--primary-text);
}

/* selected filter */
.theme-dark #friends .tab-bar .tab-bar-item.selected {
    background-color: var(--highlight-hover);
    color: var(--primary-text);
}

/* hovered filter */
.theme-dark #friends .tab-bar .tab-bar-item:hover:not(.selected) {
    background-color: var(--highlight-hover);
}

/* friends columns */
.theme-dark #friends .friends-table .friends-table-header .friends-column {
    color: var(--primary-text);
}

.theme-dark #friends .friends-table .friends-row:hover {
    background-color: var(--highlight-hover-dark);
}

.theme-dark #friends .friends-table .friends-table-header {
    border-bottom-color: var(--background-lighter);
}

/* name */
.theme-dark #friends .friends-table .friends-row .friends-column-name {
    color: var(--primary-text);
}

/* status */
.theme-dark #friends .friends-table .friends-row .friends-column-status {
    color: var(--primary-text);
}

/* separator */
.theme-dark #friends .friends-table .friends-table-header .friends-column-separator {
    background-color: var(--background-lighter);
}

.theme-dark #friends .friends-table .friends-row+.friends-row {
    border-top-color: var(--background-lighter);
}

/* action */
.theme-dark #friends .friends-table .friends-row .friends-column-actions .friends-action {
    background-color: var(--background-dark);
}

.theme-dark #friends .friends-table .friends-row .friends-column-actions .friends-action:hover {
    background-color: var(--highlight-hover);
}

/* remove friend or unblock action */
.theme-dark #friends .friends-table .friends-row .friends-column-actions .friends-action.friends-action-remove:hover {
    background-color: var(--danger) !important;
}

/* message search interface */

/* search bar */
.theme-dark .search .search-bar {
    background-color: var(--highlight-hover);
}

/* text color */
.theme-dark .search .DraftEditor-root {
    color: var(--primary-text);
}

/* filter and answer */
.theme-dark .searchAnswer-3Dz2-q,
.theme-dark .searchFilter-2ESiM3 {
    background-color: var(--background-dark);
    color: var(--primary-text);
}

/* search result box */

/* header */
.theme-dark .search-results-wrap .search-header {
    background-color: var(--background-dark);
}

/* channel separator */
.theme-dark .search-results-wrap .channel-separator .channel-name {
    background-color: var(--background-lighter);
}

/* header tabs and results */
.theme-dark .search-results-wrap .search-header .tab,
.theme-dark .search-results-wrap .search-header .total-results {
    color: var(--primary-text);
}

/* "search for" header */
.theme-dark .focused-2bY0OD {
    background-color: var(--background-dark);
}

.theme-dark .queryContainer-RKFJW- {
    color: var(--primary-text);
}

/* enter button */
.theme-dark .dim-1l4L4y span {
    background-color: var(--highlight-hover);
    color: var(--primary-text);
}

/* search options */
.theme-dark .container-3ayLPN {
    background-color: var(--background-lighter);
}

.theme-dark .option-96V44q:after {
    background: none;
}

.theme-dark .resultsGroup-r_nuzN .header-2N-gMV,
.theme-dark .resultsGroup-r_nuzN .plusIcon-v0BTrL,
.theme-dark .resultsGroup-r_nuzN .searchClearHistory-2cSSMO,
.theme-dark .resultsGroup-r_nuzN .searchLearnMore-3SQUAj a {
    color: var(--primary-text);
}

.theme-dark .searchOption-zQ-1l6 .answer-1n6g43 {
    color: var(--secondary-text);
}

.theme-dark .option-96V44q .filter-3Y_im-,
.theme-dark .option-96V44q.user-O3Czj0 .displayUsername-Qekxml {
    color: var(--secondary-text);
}

.theme-dark .option-96V44q .answer-1n6g43,
.theme-dark .option-96V44q .nonText-3CRkO0,
.theme-dark .option-96V44q strong,
.theme-dark .option-96V44q.user-O3Czj0 .displayedNick-3xxvzU {
    color: var(--primary-text);
}

.theme-dark .option-96V44q.selected-rZcOL- {
    background-color: var(--highlight-hover);
}

.theme-dark .option-96V44q.selected-rZcOL-:after {
    background: none;
}

.theme-dark .resultsGroup-r_nuzN:before {
    border-top-color: var(--highlight-hover);
}

/* date picker */
.theme-dark .calendarPicker-2yf6Ci .react-datepicker {
    background-color: var(--background-lighter);
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__header {
    background-color: var(--background-lighter);
    border-style: none;
}

/* current month */
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__current-month {
    border-bottom-style: none;
    color: var(--primary-text);
}

/* day */
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day-name {
    color: var(--primary-text);
}

/* switch to previous or next month */
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__navigation.react-datepicker__navigation--next,
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__navigation.react-datepicker__navigation--previous {
    border-style: none;
    background-color: var(--background-dark);
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day {
    color: var(--primary-text);
}

/* day outside of the current month or disabled */
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--disabled,
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--outside-month {
    background-color: var(--background-dark);
    color: var(--primary-text);
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled {
    background-color: var(--background-darker);
    color: var(--primary-text);
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected:hover,
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day:hover,
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled:hover {
    background-color: var(--highlight-hover);
    color: var(--primary-text);
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected {
    background-color: var(--highlight-active);
    color: var(--primary-text);
}

.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--selected:after {
    background-color: transparent;
}

/* you can also do ... */
.theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw .hint-165cR4 {
    color: var(--secondary-text);
}

.theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw .hintValue-29ny8Z {
    background-color: var(--background-dark);
    color: var(--primary-text);
    transition: background-color var(--button-ease) ease;
}

.theme-dark .datePicker--XZbmJ .datePickerHint-3Q1Udw .hintValue-29ny8Z:hover {
    background-color: var(--highlight-hover);
    transition: background-color var(--button-ease) ease;
}

/* results */

/* background */
.theme-dark .search-results-wrap {
    background-color: var(--background-lighter);
}

/* highlighted part */
.highlight {
    background-color: var(--mention);
}

/* separating background */
.theme-dark .search-results-wrap .search-result:before,
.theme-dark .search-results-wrap .search-result:after {
    background-image: none;
    background-color: var(--background-lighter);
}

.theme-dark .search-results-wrap .search-result .hit {
    background-color: var(--background-dark);
    box-shadow: none;
}

.theme-dark .search-results-wrap .search-result .search-result-message.hit {
    border-color: var(--background-dark);
}

/* expanded */

.theme-dark .search-results-wrap .search-result.expanded {
    border-style: none;
    background-color: var(--background-expanded);
}

.theme-dark .search-results-wrap .search-result.expanded .search-result-message.hit {
    background-color: var(--background-dark);
    border-color: var(--background-dark);
}

/* pagination */
.theme-dark .search-results-wrap .pagination {
    color: var(--primary-text);
}

.theme-dark .search-results-wrap .pagination .pagination-next,
.theme-dark .search-results-wrap .pagination .pagination-previous {
    border-color: var(--secondary-text);
}

/* no results */
.search-results-wrap .empty-results-wrap .no-results {
    color: var(--secondary-text);
}

/* recent mentions */

/* header */
.theme-dark .header-ykumBX {
    background-color: var(--background-dark);
}

.theme-dark .header-ykumBX .title-3pkaKd {
    color: var(--primary-text);
}

/* background */
.theme-dark .messagesPopoutWrap-1MQ1bW {
    background-color: var(--background-lighter);
}

.tab-bar.TOP .tab-bar-item:hover {
    border-bottom-color: var(--secondary-text);
}

/* server selection */
.theme-dark .headerTabBarWrapper-27xBDe .tab-bar.TOP .tab-bar-item {
    color: var(--secondary-text);
}

.theme-dark .headerTabBarWrapper-27xBDe .tab-bar.TOP .tab-bar-item.selected {
    color: var(--primary-text);
    border-bottom-color: var(--primary-text);
}

/* display filter */
.theme-dark .mentionFilter-1PQ6ey .label-12YslM {
    color: var(--secondary-text);
}

.theme-dark .mentionFilter-1PQ6ey .value-2k8Drt {
    color: var(--primary-text);
}

/* results */
/* channel name */
.theme-dark .channelName-3kBz6H {
    color: var(--primary-text);
}

/* guild name */
.theme-dark .guildName-1Bc3Ta {
    color: var(--secondary-text);
}

.theme-dark .messageGroupWrapper-o-Zw7G {
    background-color: var(--background-dark);
    border-style: none;
}

/* action buttons when hovering message */
.theme-dark .messageGroupWrapper-o-Zw7G:hover .actionButtons-1sUUug {
    background-color: transparent;
    box-shadow: none;
}

/* jump to message */
.theme-dark .jumpButton-3DTcS_ {
    background-color: var(--highlight-hover);
    color: var(--primary-text);
    transition: background-color var(--button-ease) ease;
}

.theme-dark .jumpButton-3DTcS_:hover {
    background-color: var(--highlight-hover-dark);
    color: var(--primary-text);
    transition: background-color var(--button-ease) ease;
}

/* nothing found */
.theme-dark .emptyPlaceholder-1zh-Eu .body-bvcIjN {
    color: var(--secondary-text);
}

.theme-dark .footer-1kmXd4 {
    background-color: var(--background-dark);
}

.theme-dark .tip-2ab612.primary-jw0I4K {
    opacity: 1;
    color: var(--secondary-text);
}

/* context menu */

.theme-dark.contextMenu-HLZMGh {
    background-color: var(--background-darker);
}

/* group separator */
.theme-dark .itemGroup-1tL0uz {
    border-top-color: var(--background-lighter);
}

/* single item */
.theme-dark .item-1Yvehc {
    color: var(--primary-text);
}

.theme-dark .item-1Yvehc:hover {
    background-color: var(--highlight-hover-dark);
    color: var(--primary-text);
}

/* danger button (e.g. delete) */
.theme-dark .item-1Yvehc.danger-2dXSTE {
    color: var(--danger) !important;
}

.theme-dark .item-1Yvehc.danger-2dXSTE:hover {
    color: var(--danger) !important;
}

/* scroll bar (e.g. recent emoji)*/
.contextMenu-HLZMGh.theme-dark .scroller-2FKFPG.firefoxFixScrollFlex-cnI2ix::-webkit-scrollbar-thumb {
    border-color: transparent !important;
    background-color: var(--background-lighter) !important;
}

.contextMenu-HLZMGh.theme-dark .scroller-2FKFPG.firefoxFixScrollFlex-cnI2ix::-webkit-scrollbar-track-piece {
    border-color: transparent !important;
    background-color: var(--background-darker) !important;
}

/* upload modal */
.uploadModal-2ifh8j {
    background-color: var(--background-lighter);
}

.uploadModal-2ifh8j .inner-3nWsbo {
    border-style: none;
    color: var(--primary-text);
}

.uploadModal-2ifh8j .inner-3nWsbo .comment-4IWttf .label-3aiqT2 .optional--ezibr {
    opacity: 1;
    color: var(--secondary-text);
}

.uploadModal-2ifh8j .footer-3mqk7D {
    background-color: var(--background-dark);
}

.uploadModal-2ifh8j .footer-3mqk7D .button.button-primary {
    background-color: var(--background-expanded);
    color: var(--primary-text);
    transition: background-color var(--button-ease) ease;
}

.uploadModal-2ifh8j .footer-3mqk7D .button.button-primary:hover {
    background-color: var(--highlight-hover);
    transition: background-color var(--button-ease) ease;
    opacity: 1;
}

.uploadModal-2ifh8j .footer-3mqk7D .button {
    background-color: var(--background-lighter);
    transition: background-color var(--button-ease) ease;
    color: var(--primary-text);
    margin-right: 10px;
}

.uploadModal-2ifh8j .footer-3mqk7D .button:hover {
    text-decoration: none;
    background-color: var(--highlight-hover);
    transition: background-color var(--button-ease) ease;
}

/* image preview */
.uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.image-2yrs5j {
    border-color: var(--background-darker);
}

/* danger modal */
.theme-dark .modal-3HD5ck {
    background-color: var(--background-lighter);
}

/* header */
.theme-dark .defaultColor-1_ajX0 {
    color: var(--primary-text);
}

/* message to delete */
.theme-dark .message-2qRu38 {
    background-color: var(--background-dark);
}

/* tip */
.tip-2ab612 {
    color: var(--secondary-text);
}

/* footer */
.theme-dark .footer-2yfCgX {
    background-color: var(--background-dark);
}

.button-38aScr.lookFilled-1Gx00P.colorRed-1TFJan {
    background-color: var(--background-expanded);
    color: var(--danger);
    transition: background-color var(--button-ease) ease;
}

.button-38aScr.lookFilled-1Gx00P.colorRed-1TFJan:hover {
    background-color: var(--highlight-hover);
    transition: background-color var(--button-ease) ease;
    opacity: 1;
}

.button-38aScr.lookLink-9FtZy-.colorPrimary-3b3xI6 {
    background-color: var(--background-lighter);
    transition: background-color var(--button-ease) ease;
    color: var(--primary-text);
    margin-right: 10px;
}

.button-38aScr.lookLink-9FtZy-.colorPrimary-3b3xI6:hover {
    background-color: var(--highlight-hover);
    transition: background-color var(--button-ease) ease;
}

.theme-dark .lookLink-9FtZy-.colorPrimary-3b3xI6:hover .contents-18-Yxp {
    background-image: none;
}

/* "delete message history time" selection */
.theme-dark .select-2TCrqx .Select-menu-outer {
    background-color: var(--background-lighter);
}

.theme-dark .select-2TCrqx .Select-option {
    color: var(--primary-text);
}

.theme-dark .select-2TCrqx .Select-option:hover {
    background-color: var(--background-expanded);
}

.theme-dark .select-2TCrqx .Select-option.is-selected {
    background-color: var(--highlight-hover);
}

.theme-dark .select-2TCrqx .has-value.is-pseudo-focused.Select--single>.Select-control .Select-value .Select-value-label,
.theme-dark .select-2TCrqx .has-value.Select--single>.Select-control .Select-value .Select-value-label {
    color: var(--primary-text);
}

/* tooltip */
.tooltip.tooltip-black {
    background-color: var(--background-darker);
    color: var(--primary-text)
}

.tooltip.tooltip-black.tooltip-bottom:after {
    border-bottom-color: var(--background-darker);
}

.tooltip.tooltip-black.tooltip-right:after {
    border-right-color: var(--background-darker);
}

.tooltip.tooltip-black.tooltip-left:after {
    border-left-color: var(--background-darker);
}

.tooltip.tooltip-black.tooltip-top:after {
    border-top-color: var(--background-darker);
}

/* user info */

/* top section without activity */
.theme-dark .topSectionNormal-2-vo2m {
    background-color: var(--background-darker);
}

/* top section while playing */
.topSectionPlaying-1J5E4n {
    background-color: var(--background-darker);
}

/* no, spotify won't get a custom color */
.topSectionSpotify-1lI0-P {
    background-color: var(--background-darker);
}

.username-3gJmXY {
    color: var(--primary-text);
}

.discriminator-xUhQkU {
    color: var(--secondary-text);
}

/* send message button */
.lookInverted-2D7oAl.colorBrand-3pXr91 {
    background-color: var(--background-lighter);
    color: var(--primary-text);
    transition: background-color var(--button-ease) ease;
}

.lookInverted-2D7oAl.colorBrand-3pXr91:hover {
    background-color: var(--highlight-hover);
    color: var(--primary-text);
    transition: background-color var(--button-ease) ease;
}

/* send friend request button */
.lookFilled-1Gx00P.colorGreen-29iAKY,
.lookInverted-2D7oAl.colorGreen-29iAKY {
    background-color: var(--add-friends);
    color: var(--background-dark);
    transition: background-color var(--button-ease) ease;
}

.lookFilled-1Gx00P.colorGreen-29iAKY:hover,
.lookInverted-2D7oAl.colorGreen-29iAKY:hover {
    background-color: var(--add-friends-hover);
    color: var(--background-dark);
    transition: background-color var(--button-ease) ease;
}

/* middle region with the game */
.headerFill-adLl4x {
    background-color: var(--background-dark);
}

/* body selection */
.tabBarContainer-1s1u-z {
    background-color: var(--background-darker);
    border-style: none;
}

/* non selected item */
.tab-bar.tabBar-2MuP6- .tabBarItem-1b8RUP {
    color: var(--primary-text);
}

/* selected item */
.tab-bar.tabBar-2MuP6- .tabBarItem-1b8RUP.selected {
    color: var(--primary-text);
    border-bottom-color: var(--primary-text);
}

/* hovered item */
.tab-bar.TOP .tab-bar-item:hover {
    border-bottom-color: var(--secondary-text);
}

/* body */
.theme-dark .body-3ND3kc {
    background-color: var(--background-lighter);
}

/* user info */

/* section header */
.userInfoSectionHeader-CBvMDh {
    color: var(--primary-text);
}

/* notes */
.theme-dark .note-3kmerW textarea {
    color: var(--primary-text);
}

.theme-dark .root-SR8cQa .note-QfFU8y textarea:focus {
    background-color: var(--highlight-hover);
}

/* connected accounts */
.connectedAccountName-f8AEe2 {
    color: var(--primary-text);
}

/* list row */
.theme-dark .listRow-hutiT_ {
    color: var(--primary-text);
}

.theme-dark .listRow-hutiT_:hover {
    background-image: none;
    background-color: var(--highlight-hover);
}

/* guild nick name */
.guildNick-3uAm3i {
    color: var(--secondary-text);
}

/* user discriminator */
.listDiscriminator-253zfw {
    opacity: 1;
    color: var(--secondary-text);
}

/* general activity */

/* activity title */
.theme-dark .iconForeground-3y9f0B, .theme-dark .title-1aVOXw {
    color: var(--primary-text);
}

.theme-dark .activityFeed-28jde9 {
    background-color: var(--background-dark);
}

/* feed carousel gradient */
.article-3kb3qm {
    background-color: transparent;
}

/* category */
.theme-dark .headerText-2niCs_ {
    color: var(--primary-text);
}

/* dock item */
.theme-dark .dockItem-2kQDqg:hover {
    background-color: var(--highlight-hover-dark);
}

.theme-dark .dockItemText-3qYREY {
    color: var(--primary-text);
}

/* game card */
.theme-dark .card-7JP0BX,
.theme-dark .header-1RC2Wb {
    background-color: var(--background-lighter);
    color: var(--primary-text);
    transition: background-color var(--button-ease) ease;
}

.theme-dark .header-1RC2Wb:hover {
    background-color: var(--dimmer);
    transition: background-color var(--button-ease) ease;
}

/* user name & discriminator */
.theme-dark .username-XRo90I,
.theme-dark .tag-10JqWu {
    color: var(--primary-text);
}

.theme-dark .discriminator-1Kma2g,
.theme-dark .discriminator-pIKHPn,
.theme-dark .playTime-1laRtO,
.theme-dark .playTime-2SuPqW {
    color: var(--secondary-text);
}

/* message button */
.headerButtonColor-G7_f-V,
.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6 {
    background-color: var(--background-lighter);
    color: var(--primary-text);
    transition: background-color var(--button-ease) ease;
}

.theme-dark .lookFilled-1Gx00P.hoverBrand-1_Fxlk.hasHover-3X1-zV:hover,
.theme-light .lookFilled-1Gx00P.hoverBrand-1_Fxlk.hasHover-3X1-zV:hover {
    background-color: var(--highlight-hover);
    color: var(--primary-text);
    transition: background-color var(--button-ease) ease;
}

/* disabled play button */
.disabledButtonColor-RDvfEC {
    background-color: var(--background-darker);
    color: var(--secondary-text);
}

/* section title */
.theme-dark .sectionTitle-1snBOS {
    color: var(--primary-text);
}

/* game name */
.theme-dark .gameName-wzJptK {
    color: var(--primary-text);
}

/* news preview */
.news-2GDtLJ {
    background-color: var(--background-dark);
    transition: background-color var(--button-ease) ease;
}

.newsLink-38Naqi:hover {
    background-color: var(--dimmer);
    transition: background-color var(--button-ease) ease;
}

.title-1oZsbs,
.description-13oVu5 {
    color: var(--primary-text);
}

.subtitle-rPfx7J {
    color: var(--secondary-text);
}

.activityFeed-28jde9 .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-thumb {
    border-color: transparent !important;
    background-color: var(--highlight-hover) !important;
}

.activityFeed-28jde9 .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-track-piece {
    border-color: transparent !important;
    background-color: var(--background-dark) !important;
}

/* game library */
.theme-dark .gameLibrary-TTDw4Y {
    background-color: var(--background-dark);
}

/* import your games */
.theme-dark .emptyStateHeader-3CJtAy {
    color: var(--primary-text);
}

.theme-dark .emptyStateDescription-2IePen {
    color: var(--primary-text);
}

.lookFilled-1Gx00P.colorBrand-3pXr91 {
    background-color: var(--background-expanded);
    color: var(--primary-text);
    transition: background-color var(--button-ease) ease;
}

.lookFilled-1Gx00P.colorBrand-3pXr91:hover {
    background-color: var(--highlight-hover);
    transition: background-color var(--button-ease) ease;
}

.headerButtonColor-G7_f-V,
.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6 {
    background-color: var(--background-lighter);
    transition: background-color var(--button-ease) ease;
    color: var(--primary-text);
}

.headerButtonColor-G7_f-V:hover,
.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6:hover {
    text-decoration: none;
    background-color: var(--highlight-hover);
    transition: background-color var(--button-ease) ease;
}

/* header */
.theme-dark .header-39GIC8 {
    background-color: var(--background-dark);
}

/* sorting */
.theme-dark .headerCellSorted-3a5AzJ {
    color: var(--primary-text);
}
.theme-dark .headerCell-3L6rFG:not(.headerCellSorted-3a5AzJ),
.theme-dark .headerCell-3L6rFG:hover:not(.headerCellSorted-3a5AzJ) {
    color: var(--secondary-text);
}

/* row */
.theme-dark .row-ZLfFhY {
    color: var(--primary-text);
}

.theme-dark .icon-1IKq3C, .theme-dark .textCell-1aBIUP {
    color: var(--secondary-text);
}

/* quick switcher */
.theme-dark .quickswitcher-3JagVE {
    background-color: var(--background-lighter);
}

/* search field */
.theme-dark .input-2VB9rf {
    background-color: var(--background-dark);
    color: var(--primary-text);
}

.theme-dark .input-2VB9rf::-webkit-input-placeholder {
    color: var(--placeholder);
}

/* category */
.theme-dark .header-13MUnb {
    color: var(--primary-text);
}

/* default result */
.theme-dark .contentDefault-16dKSY {
    color: var(--primary-text);
}

.theme-dark .contentDefault-16dKSY .note-S--UP5,
.theme-dark .contentDefault-16dKSY .username-2hHyRL {
    color: var(--secondary-text);
    opacity: 1;
}

/* focused result */
.theme-dark .resultFocused-3aIoYe {
    background-color: var(--highlight-hover);
}

/* unread result */
.theme-dark .contentUnread-3gTHvA {
    color: var(--primary-text);
}

.theme-dark .contentUnread-3gTHvA .match-38WbBN {
    font-weight: 600;
}

.theme-dark .icon-30q1Or {
    color: var(--primary-text);
}

.theme-dark .contentUnread-3gTHvA .note-S--UP5 {
    color: var(--secondary-text);
}

/* e.g. guild name */
.miscContainer-2ptJ_C {
    opacity: 1;
    color: var(--secondary-text);
}

/* tips */
.theme-dark .tipsWithoutResults-lGY-De,
.theme-dark .tipsWithResults-HhTE9b {
    color: var(--primary-text);
}

/* key bindings */
.theme-dark .keybindShortcut-1BD6Z1 span {
    color: var(--primary-text);
    background-color: var(--background-dark);
    border-style: none;
}

.theme-dark .keybindShortcut-1BD6Z1 span:active {
    border-style: none;
}

/* settings */
.theme-dark .sidebarRegion-VFTUkN {
    background-color: var(--background-lighter);
}

.theme-dark .contentRegion-3nDuYy {
    background-color: var(--background-dark);
}

.theme-dark .contentRegion-3nDuYy .scroller-2FKFPG.firefoxFixScrollFlex-cnI2ix::-webkit-scrollbar-thumb {
    border-color: transparent !important;
    background-color: var(--highlight-hover) !important;
}

.theme-dark .contentRegion-3nDuYy .scroller-2FKFPG.firefoxFixScrollFlex-cnI2ix::-webkit-scrollbar-track-piece {
    border-color: transparent !important;
    background-color: var(--background-dark) !important;
}
